services:
  app:
    build: .
    container_name: n3rdfeed-app
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
